#features-section{
  border-bottom: 1px lightgray solid;
  padding: 150px 0px 100px 0px;
}
.features-section p {
  font-size: 1.1em;
  font-weight: 400;
}
.features-section h3 {
  font-size: 1.2em;
  font-weight: 600;
}