<section id="features">
  <div class="section features-section" id="features-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-1 hidden-xs"></div>
        <div class="col-sm-5">
          <h3>Filter Your Searches</h3>
          <p>Do you know what kind of job you want but don’t know how to look for it? On our FastApp Searching System, you can filter jobs through categories like: how far away it is, the hours they’re offering, and you can even see the locations on a map!</p>
          <h3>Easily Manage Applications</h3>
          <p>Your one application will be good for every job you apply to. Easily see all the jobs that you have applied to.</p>
          <h3>Status Check</h3>
          <p>Don’t you hate it when you apply for a job and they never get back to you? On FastApp, users can see where their application stands with the employer. </p>
        </div>
        <div class="col-sm-5">
          <h3>Apply In Person</h3>
          <p>People say applying in person is the way to go; but when you go in person they tell you to apply online. On the FastApp mobile application, take a picture of the stores FastApp Store Code and your application will automatically be sent to them!</p>
          <h3>E-Verify</h3>
          <p>We take the time to make sure that you are verified so that employers know that you’re ready to start working faster!</p>
          <h3>Add Personality</h3>
          <p>By taking the assessment test, you show employers that you are so much more than a paper application!</p>
        </div>
        <div class="col-sm-1 hidden-xs"></div>
      </div>
    </div>
  </div>
</section>